<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <md-card>
      <img src="img/fire.png" alt="Fire">
      <md-card-content>
        <h2 class="md-title">Recent Updates</h2>
        <p>There is a fire in <b>sector 3</b></p>
      </md-card-content>
    </md-card>
    <md-card>
      <img src="img/apples.png" alt="Apples">
      <md-card-content>
        <h2 class="md-title">Health</h2>
        <p>You ate an apple today!</p>
      </md-card-content>
    </md-card>
    <md-card>
      <img src="img/calendar.png" alt="Calendar">
      <md-card-content>
        <h2 class="md-title">Upcoming</h2>
        <p>You have <b>29</b> meetings on your calendar tomorrow.</p>
      </md-card-content>
    </md-card>
  </ion-content>
</ion-view>
